.App {
  text-align: center;
}

@import "../node_modules/foundation-sites/dist/css/foundation.css";

.employee-image {
  display: block;
  width: 100%;
  height: auto;
}

.employee-container .employee-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(149, 136, 192, 0.6);
}

.employee-container:hover .employee-overlay {
  opacity: 1;
}

.employee-container {
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease 0s;
}

.employee-text-block {
  text-align: left;
  position: absolute;
  bottom: 5%;
  left: 30%;
}

.employee-text {
  color: white;
  font-size: 0.8em;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
}

.employee-text .role {
  font-weight: bold;
}

.tarmac__pagination {
  margin: 2em 0em;
}

.size-selector-container {
  margin: 2em 0em;
}
